---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import { Image } from "astro:assets";
import {formatDate, exchangePrice} from "../../utils/utils";

export const getStaticPaths = (async ({ paginate }) => {
    const allTeas = (await getCollection("teas"))
        .filter((tea) => tea.data.posted !== false)
        .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    );
    return paginate(allTeas, { pageSize: 10 });
}) satisfies GetStaticPaths;

const pageTitle = "Наші чаї";
const allTeas = await getCollection("teas");
const filteredTeas = allTeas.filter((tea) => tea.data.posted !== false);
const categories = [...new Set(filteredTeas.map((tea) => tea.data.category).flat())];
const { page } = Astro.props;
const pageNumber = `сторінка ${page.currentPage}`
---

<ArticleLayout {pageTitle}>
	<section>
		<h1 class="last-line">{pageTitle}:</h1>

		<div class="categories-btn last-line">
			{categories.map((category) => (
				<p class="category-btn"><a href={`/categories/${category}/`}>{category}</a></p>
			))}
		</div>
		
		<div class="tea-block">
			{page.data.map((tea) => (
				<article>
					<div class="container">
						<a href={`/teas/${tea.id}/`} data-astro-prefetch>
							<figure class="tea">
								<Image 
									src={tea.data.image} 
									alt=""
									class="tea-image" 
								/>
								<figcaption>
									<h2>{tea.data.title}</h2>
									<p>{tea.data.description}</p>
								</figcaption>
							</figure>				
						</a>
						<div class="price-block">
							<date class="pub-date">Додано:<span>{formatDate(tea.data.pubDate)}</span></date>
							<p class="price-row"><span class="price">{exchangePrice(tea.data.price)}</span>&#8372; / 10гр</p>
						</div>
						<a href={`/categories/${tea.data.category}/`} class="categories" data-category={tea.data.category}></a>
					</div>
				</article>
			))}
		</div>
	</section>
	<h5 class="page-number">{pageNumber}</h5>
	<div class="pagination-block">
		{page.url.prev && <a href={page.url.prev}>Попередня</a>}
		{page.url.next && <a href={page.url.next}>Наступна</a>}
	</div>
</ArticleLayout>

<style>
	section .tea-block {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		place-content: start center;
		margin-bottom: 2rem;
	}

	.tea-block article { width: 100%; }

	.category-btn>a {
      color: light-dark (var(--foreground), var(--foreground-dark));
      padding: .3rem .5rem;
      display: block;
    }

	.categories-btn {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
    }
  
    .category-btn {
		margin: 0.25em;
		border: dotted 1px #7c7c7c;
		border-radius: .5em;
		font-size: 1.1rem;
		background-color: var(--button);
    }

	article {
		container-type: inline-size;
		display: block;
		margin: 0;
	}

	.tea-image {
		aspect-ratio: 2 / 1;
		border-radius: .9rem .9rem 0 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-bottom: 1em;
	}

	figcaption h2 {
		color: light-dark(var(--foreground), oklch(84% 0.06 94));
		font-size: clamp(0.75rem, 9cqw, 1.2rem);
		font-weight: 600;
		letter-spacing: 0.1em;
		line-height: 1.1;
		margin: clamp(0.125rem, 2cqw, 0.375rem) 0;
		text-align: center;
	}

	figcaption p {
		color: oklch(57.18% 0.093 108.52);
		font-size: 1rem;
		text-align: center;
		text-wrap: balance;
		margin: 0 .5rem;
	}

	.price-block {
		font-size: clamp(.7rem, 9cqw, 1rem);
		padding: 0 1rem;
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}

	.pub-date {
		font-size: .8rem;
	}

	.pub-date span {
		margin-left: .3rem;
	}

	.price-row {
		font-size: .8rem;
		margin-bottom: unset;
		justify-self: end;
	}

	.price {
        margin: 0 .2rem;
        font-size: clamp(1rem, 9cqw, 1.5rem);
        font-weight: 500;
        color: oklch(59% 0.19 144.27);
    }

	article .categories {
		background: oklch(87% 0.05 var(--hue));
		color: oklch(35% 0.104 var(--hue));
		border-radius: 0 0 .8rem .8rem;
		display: block;
		font-size: clamp(0.5rem, 5.5cqw, 0.825rem);
		letter-spacing: 0.15em;
		line-height: 1;
		margin: 0;
		padding: clamp(0.125rem, 2cqw, 0.25rem);
		font-variant: small-caps;
		text-align: center;
	}

	article .categories::after {
		content: attr(data-category);
	}

	article .container{
		/* color code by category */
		border-radius: 0.9rem;
		--hue: 0;
		border: 1px solid oklch(87% 0.1 var(--hue));
	}

	article:has([data-category="shengcha"]) .container { --hue: 112.44; }

	article:has([data-category="heicha"]) .container { --hue: 93.5; }

	article:has([data-category="hongcha"]) .container { --hue: 65; }

	article:has([data-category="baicha&lucha"]) .container { --hue: 146.65; }

	article:has([data-category="wulong&gaba"]) .container { --hue: 167.82; }

	article:has([data-category="japanese"]) .container { --hue: 143.21; }

	article .categories {
		background: oklch(87% 0.09 var(--hue));
		color: oklch(60% 0.104 var(--hue));
	}

    .page-number {
        color: light-dark(var(--green), var(--active));
        text-align: center;
        margin: 3rem 0 1rem;
    }

    .pagination-block {
        display: flex; 
        justify-content: center; 
        gap: 3rem; 
        margin-bottom: 1.5rem;
    }
    
    .pagination-block > a {
        padding: 0.2rem 0.5rem 0.1rem;
        border: 1px solid light-dark(var(--foreground), var(--foreground-dark));
        border-radius: 0.5rem;
        font-size: 0.9rem;
        color: light-dark(var(--foreground), var(--foreground-dark));
    }

	@media(min-width: 48rem) {
		section .tea-block {
			gap: 2rem;
			justify-content: space-between;
		}

		.category-btn>a:hover, .category-btn>a:focus-visible {
			color: light-dark(var(--background), var(--background-dark));
			background-color: var(--active);
		}

		.tea-block article { width: calc(50% - 1rem); }

		.tea-block article * { transition: 0.2s ease; }

		article {
			transition: all var(--animation-timing) ease-in-out;
		}

		article:hover {
			transform: scale(1.05);
		}

		.boxes {
			flex-direction: row;
			justify-content: flex-start;
		}

		.price-block {
			padding: 0;
			justify-content: space-around;
		}

		.pub-date { font-size: .9rem; }

		.price-row { font-size: .9rem; }

        .pagination-block { margin-bottom: 2rem; }

		.pagination-block > a:hover {
			color: var(--active);
			border: 1px solid var(--active);
		}
    }
</style>