---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import TeaCard from '../components/TeaCard.astro';
import BlogPost from '../components/BlogPost.astro';

import Image1 from "/src/assets/articles/tea-wayfarer.jpg";

const newPosts = (await getCollection('library'))
	.filter((post) => post.data.posted !== false)
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 2);

const newTeas = (await getCollection('teas'))
	.filter((tea) => tea.data.posted !== false)
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<MainLayout>
	<h1 class="">Ласкаво просимо</h1>
	<h3>до нашої</h3>
	<h2 class="last-line">Чайної Хатинки!</h2>
	<p>
		<Image class="float-left" src={Image1} alt="Чайний мандрівник" />
		Кожен із нас шукає своєї досконалости так, як він чи вона розуміє її, залежно від загального знання і контексту, який отримали за своє життя, а також від того, що в нас закладено Матінкою Природою... <br /> <br />
		Ми, як і багато хто до нас, шукаємо Довершености у своєму житті через Чай — через ту Традицію, підвалини якої було закладено ще сивої давнини. Ми не намагаємося відкрити щось нове, досі невідоме. Навпаки, за допомогою простих метод ми глибше занурюємось у навколишнє, у те, що маємо саме цієї миті. Якщо Надзвичайне й існує, воно мусить бути тут і зараз...
	</p>
	<p>
		Проте, так само як і кожна чайна людина минулого й сьогодення, ми не прагнемо віднайти досконалість заради себе. Наша Традиція — це служіння людству через Чай. І не тільки через те, що Чай і Чань (Дзен) мають один смак, скільки через глибоке усвідомлення наших зв'язків одне з одним. Кожна чаша сприяє пробудженню і присутності, розкриттю Гармонії і Спокою Всесвіту в людській свідомості.
	</p>
	<p class="last-line">
		Наш Шлях до Досконалости, Шлях Чаю ("Ча Дао" чи "Тя До", як його називають на Сході), пов'язаний зі звичним для людини процесом пиття — приготуванням і вживанням однієї з найдавніше відомих лікарських рослин Світу. Мета цього — найкраща чашка чаю, сповнена Пробудження і Присутности для всіх нас. Перед Природою і перед Чаєм, Її часточкою, ми рівні. Як то кажуть: "Стара хвіртка до Мудрости завжди відкрита. Дзен не має дверей..."
	</p>
	<div class="new-posts full-width">
		<h2 class="last-line">Найновіші статті:</h2>
		<section>
			{newPosts.map((p) => 
				<BlogPost
					class="post"
					url={`/library/${p.id}/`}
					title={p.data.title}
					subtitle={p.data.subtitle}
					author={p.data.author}
					description={p.data.description}
					pubDate={p.data.pubDate}
				/>)
			}
		</section>
	</div>
	<div class="tea-section breakout">
		<h2 class="last-line">Наші нові чаї:</h2>
		<section class="new-tea">
			{newTeas.map((tea) => 
				<TeaCard 
					image={tea.data.image} 
					url={`/teas/${tea.id}/`} 
					title={tea.data.title} 
					subtitle={tea.data.subtitle} 
					category={tea.data.category} 
				/>)
			}
		</section>
	</div>
</MainLayout>

<style>
	h1, h2, h3 { text-align: center; }

	p::first-letter { font-size: 1.5em; }

	section {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		place-content: start center;
	}

	.new-posts, .tea-section { padding: 1rem; }
	
	.new-posts { background: var(--button); }

	@media screen  and (min-width: 48rem){		
		.new-tea {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
</style>