---
import { getCollection } from "astro:content";
import ArticleLayout from '../layouts/ArticleLayout.astro';
import { Image } from "astro:assets";
import Baisao from '../assets/articles/Baisao_new.jpg';
import Fourpillar from '../assets/articles/fourpillars.jpg';
import Fiveessences from '../assets/articles/fiveessences.jpg';
import Eightbowls from '../assets/articles/eightbowls.jpg';
import TeaCard from '../components/TeaCard.astro';

const traditionArticles = [
    {
        image: "/src/assets/articles/fourpillars.jpg",
        url: "/library/the-four-pillars/",
        title: "Чотири стовпи цієї Традиції"
    },
    {
        image: "/src/assets/articles/fiveessences.jpg",
        url: "/library/the-fivefold-essences/",
        title: "П'ять сутностей"
    },
    {
        image: "/src/assets/articles/eightbowls.jpg",
        url: "/library/the-eight-bowls/",
        title: "Вісім чаш життя в Чаї"
    }
]

const pageTitle = "Наша Традиція";
---

<ArticleLayout {pageTitle}>
    <h1 class="last_line">{pageTitle}</h1>
    <p>Нехай наш чайник гріється, а ми в цей час трохи поговоримо про наше товариство, школу й про те, що взагалі можна змалювати декількома словами – зовсім стисло, бо замість розповіді ми б радше запропонували вам чашку запашного настою, як зробив би це Байсао чи "Старий продавець чаю", як його ще називали...</p>
    <p><img class="imgBaisao" src={Baisao.src} alt="Байсао" />Байсао... Ким був той чайний мудрець вісімнадцятого століття, ясний дух якого й досі осяває нашу традицію яскравіше, ніж саме його ім'я?.. Майже все своє життя дзенський чорноризець, він у сорок дев'ять років проміняв усе разом зі своїм убранням на те, що, яким би дивним воно не здавалося, було більше сповнено дзену – на життя продавця чаю при дорозі. Кожна його чаша була пройнята стародавнім неоціненним Духом Чаю, якого не торкалися ані гроші, ані теорії чи ритуали, ба навіть розум, як такий – Духом, що існував ще до того, як зірвали перше чайне листя. І ті, хто проходили повз його хатинку обабіч дороги, могли бачити тільки старого в дивному журавлиному вбранні прадавнього даоського самітника. Та Дух той здалеку вабив виблиском очей чи плавністю рухів рук, коли наливав він свій чай у затерті, потріскані чаші... Після такого чаю перехожий відходив звідти якимось зміненим, хоча, можливо, так і не збагнувши всю важливість того, що саме вплинуло на його світогляд. Свою ятку Байсао називав:</p>
    <blockquote><em><span>"Хатинка, що переносить вас до Мудрости (通聖亭, Tong Shen Ting)."</span></em></blockquote>
    <p>Недоладний і невчасний, наче відродження прадавнього чайного мудреця, що мешкав у гірських лісах давно забутої місцини Китаю, він пропонував цілющі ковтки й краплі осяянь усім, хто зустрічався на його шляху.</p>
    <p>Цей Шлях Чаю, оскільки ми його відкриваємо чи створюємо наново (або він нас), спершу повинен ушановувати Природу, Небо й Землю, з невимовного центру яких зростають чайні дерева. Ідучи величезним старим гірським хребетом чайних мудрощів, ми також подорожуємо й тими стежками, що прокладали всі відомі й невідомі нам мудреці від чаю: ті, хто рано вранці ходив по вкритих хмаринами верховинах Китаю, хто віддалявся в лісові обителі чи ті, хто практикувалися в дзенському чаї в Японії і Кореї, так само як і в навичках Ґонфу чайних традицій півдня Китаю. Власне кажучи, ми маємо низько вклонитися сучасним вчителям чаю з усього світу, і не стільки за збереження традиції і форми, скільки за дотримування і розповсюдження Духу Листя в ті часи й понині.</p>
    <p><strong>Як і Байсао, ми підтримуємо, розвиваємо та виявляємо усвідомлення Гармонії через чай, що зараз так необхідно в цьому бурхливому світі; і так само як і він, ми робимо це дуже просто, не вимагаючі нічого взаміну. Прошу, ось ваша чаша, за так...</strong></p>
    <p>Подібно до Байсао та инших мудреців, що були до нього, ми поставили свою метафоричну хатинку самітника тут, на узбіччі найдавнішого битого шляху, і пропонуємо те, що будь-який мудрець завжди пропонував: куточок спокою і втіхи, де можна заспокоїти себе й відпочити від мінливостей життя, а як буде потреба, то й трішечки священної мудрости, що зрощувалася серед тиші цього простору.</p>
    <h2 class="first_line last_line">Більше про нашу Традицію:</h2>
	<section class="about_tradition">
        <article>
            <a href="/library/the-four-pillars/">
                <div class="container">
                    <Image 
                        src={Fourpillar} 
                        alt=""
                        class="article_image"
                    />
                    <h3 class="title">Чотири стовпи цієї Традиції</h3>
                </div>
            </a>
        </article>
        <article>
            <a href="/library/the-fivefold-essence/">
                <div class="container">
                    <Image 
                        src={Fiveessences} 
                        alt=""
                        class="article_image"
                    />
                    <h3 class="title">П'ять складових сутности Чаю</h3>
                </div>
            </a>
        </article>
        <article>
            <a href="/library/the-eight-bowls/">
                <div class="container">
                    <Image 
                        src={Eightbowls} 
                        alt=""
                        class="article_image"
                    />
                    <h3 class="title">Вісім чаш життя в Чаї</h3>
                </div>
            </a>
        </article>
	</section>
</ArticleLayout>

<style>
    h1, h2, h3 { text-align: center; }

    .title {
        font-size: clamp(1rem, 9cqw, 1.2rem);
		font-weight: 600;
		letter-spacing: 0.1em;
		line-height: 1.1;
		margin: clamp(1rem, 2cqw, 1.75rem) 0.3rem;
        text-align: center;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        place-content: start center;
        margin-bottom: 2rem;
    }

    article {
        /* display: flex;
        flex-direction: column; */
    }

    article img {
        height: 100%;
        border-radius: .5rem;
        object-fit: contain;
    }

    .imgBaisao {
        margin: 15px auto;
        border: 1px solid #6C5C45;
    }

    .tea_image {
        width: 100%;
        aspect-ratio: 3/2;
    }

    blockquote {
        text-align: center;
        margin-bottom: 1rem;
    }

    @media(min-width: 33.75rem) {
        section {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
            gap: 1rem;
		}

        .imgBaisao {
            margin: 10px 20px 15px 0;
            width: 300px;
            float: left;
        }
    }
</style>