---
import { Image } from "astro:assets";
import { formatDate } from "../utils/utils";

const { url, image, imageAlt, pill, title, description, author, pubDate } = Astro.props;
const time = formatDate(pubDate);
---

<article class="blog-post">
    <a href={url} data-astro-prefetch>
        <img src={image} alt={imageAlt}>
        <p class="pill">{pill}</p>
        <h3 class="title">{title}</h3>
        <p>{description}</p>
    </a>
    <div class="footer-block">
        <p>{author}</p>
        <p class="time">{time}</p>
    </div>
</article>

<style>
    article {
        margin: 0 0.7rem;
        padding: 1.5rem 2rem 1rem;
        border-radius: .7rem; 
        background-color: light-dark(var(--background), var(--footer));
    }

    .title {
        color: light-dark(var(--green), var(--active));
    }

    a {
        color: light-dark(var(--foreground), var(--foreground-dark));
    }

    p {
        margin: unset;
    }

    .footer-block {
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    @media (min-width: 48rem) {
        article.blog-post {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 43%;
            transition: all var(--animation-timing) ease-in-out;
        }

        article:hover {
			transform: scale(1.05);
            box-shadow:
            2.8px 2.8px 17.4px rgba(0, 0, 0, 0.035),
            6.7px 6.7px 28px rgba(0, 0, 0, 0.045),
            12.5px 12.5px 34.9px rgba(0, 0, 0, 0.051),
            22.3px 22.3px 40.7px rgba(0, 0, 0, 0.055),
            41.8px 41.8px 49.3px rgba(0, 0, 0, 0.06),
            100px 100px 80px rgba(0, 0, 0, 0.07);
		}
    }
</style>