---
import { Image } from "astro:assets";

const { url, image, imageAlt, pill, title, description, author_img, author_name, time } = Astro.props;
---

<article>
    <a href={url} data-astro-prefetch>
        <img src={image} alt="">
        <p class="pill">{pill}</p>
        <h3 class="title">{title}</h3>
        <p>{description}</p>
    </a>
        <div class="author">
            <img src={author_img} alt={author_name}>
            <div>
                <p><strong>{author_name}</strong></p>
                <p>{time}</p>
            </div>
        </div>
</article>

<style>
    article {
        margin: 0 0.7rem;
        padding: 0.7rem 2rem 0;
        border-radius: .7rem; 
        background-color: var(--background);
        }
        
    :global(.dark) article {
        background-color: var(--footer);
    }

    .title {
        color: var(--green);
    }

    :global(.dark) .title {
        color: var(--active);
    }

    a {
        color: var(--foreground);
    }

    :global(.dark) a {
        color: var(--foreground-dark);
    }

    @media (min-width: 48rem) {
        article {
            max-width: 43%;
            transition: all var(--animation-timing);
        }

        article:hover {
			transform: scale(1.05);
		}
    }
</style>