---
import { Image } from "astro:assets";

const { image, category, title, subtitle, url } = Astro.props;
---

<article>
	<a href={url} data-astro-prefetch>
		<div class="container">
			<Image
				src={image} 
				alt=""
				class="tea-image" 
			/>
			<div class="information">
				<h5 class="title">{title}</h5>
				<h5 class="subtitle">{subtitle}</h5>
			</div>
			<p class="categories" data-category={category}></p>
		</div>
    </a>
</article>

<style>
    article {
		margin: 0 auto;
		border: 1px solid oklch(93% 0.1 var(--hue));
		border-radius: .6rem;
		--hue: 0;

		&:has([data-category="shengcha"]) {
			--hue: 112.44;
		}

		&:has([data-category="heicha"]) {
			--hue: 93.5;
		}

		&:has([data-category="hongcha"]) {
			--hue: 50.61;
		}

		&:has([data-category="baicha&lucha"]) {
			--hue: 146.65;
		}

		&:has([data-category="wulong&gaba"]) {
			--hue: 167.82;
		}

		&:has([data-category="japanese"]) {
			--hue: 153;
		}

		& img {
			border-radius: .5rem .5rem 0 0;
		}

		& .categories {
			background: oklch(87% 0.09 var(--hue));
			color: oklch(60% 0.104 var(--hue));
			text-align: center;
		}
	}
	
    a { text-decoration: none; }
	
	.container {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

    .tea-image {
        max-width: 540px;
        width: 100%;
        height: 100%;
		border-radius: 0.5rem;
		display: block;
		inline-size: 100%;
		object-fit: cover;
    }
	
	.information {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-wrap: balance;
	}

    .title {
		font-size: clamp(1rem, 9cqw, 1.2rem);
		font-weight: 600;
		color: light-dark(var(--background-dark), var(--active));
        text-align: center;
		letter-spacing: 0.1em;
		line-height: 1.1;
		margin: clamp(0.5rem, 2cqw, 0.375rem) auto;
    }
	
	.subtitle {
		font-size: clamp(0.8rem, 9cqw, 1rem);
		font-weight: 400;
		text-align: center;
		margin: 0 .5rem .5rem;
	}
	
    .categories {
		border-radius: 0 0 .5rem .5rem;
		font-size: clamp(0.8rem, 5.5cqw, 1.1rem);
		letter-spacing: 0.15em;
		line-height: 1;
		margin: 0;
		padding: clamp(0.1rem, 2cqw, 0.3rem);
		font-variant: small-caps;
	}
	
	.categories::after {
		content: attr(data-category);
	}
	
	@media screen  and (min-width: 48rem){
		article {
			transition: all var(--animation-timing) ease-in-out;
		}

		article:hover { 
			transform: scale(1.05);
			box-shadow:
            2.8px 2.8px 17.4px rgba(0, 0, 0, 0.035),
            6.7px 6.7px 28px rgba(0, 0, 0, 0.045),
            12.5px 12.5px 34.9px rgba(0, 0, 0, 0.051),
            22.3px 22.3px 40.7px rgba(0, 0, 0, 0.055),
            41.8px 41.8px 49.3px rgba(0, 0, 0, 0.06),
            100px 100px 80px rgba(0, 0, 0, 0.07);
		}
	}
</style>
