---
import MainLayout from './MainLayout.astro';

const { pageTitle = "Чайна Хатинка", width2, height2, margin2, color2, background2, word2, width3, height3, margin3, color3, background3, word3 } = Astro.props;
---
<MainLayout {pageTitle} {width2} {height2} {margin2} {color2} {background2} {word2} {width3} {height3} {margin3} {color3} {background3} {word3}>
    <div class="container">
        <slot />
    </div>
</MainLayout>

<style>
	.container { padding: 3rem 1rem 0; }

	@media(min-width: 48rem) {
		.container { padding: 3rem 4rem 0; }
	}
</style>