---
import { Image } from 'astro:assets';
import MainLayout from './MainLayout.astro';

import img1 from "../../public/teakettle.gif";

const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title} >
        {frontmatter.heroImage && <img src={frontmatter.heroImage} alt="" class="header-image">}
        <h1 class="title">{frontmatter.title}</h1>
        <h2 class="title last-line">{frontmatter.subtitle}</h2>
        {frontmatter.subsubtitle && <h4 class="title">{frontmatter.subsubtitle}</h4>}
        {frontmatter.author &&<p class="author last-line">{frontmatter.author}</p>}
            <slot />
        <p class="bottom-sign">Українською перекладено спеціяльно для TeaHut.com.ua</p>
        <div class="last-line" style="display: flex; justify-content: end;">
            <Image style="display: block;  width: 70px;" src={img1} alt="Чайник і чашка" />
        </div>
</MainLayout>

<style>
    .title { text-align: center;}

    .author { 
        font-style: italic;
        text-align: end;
        margin-right: clamp(2rem, 2cqw, 5rem);
    }

    .bottom-sign {
        font-size: 0.9rem;
        font-style: italic;
        text-align: right;
        margin-top: 1rem;
    }

    .header-image {
        width: 100%;
        max-height: 100%;
        margin: 0 auto 3rem;
        border-radius: 0.6rem;
    }
</style>