---
import MainLayout from './MainLayout.astro';

const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={`${frontmatter.title} ${frontmatter.subtitle}`} description={frontmatter.description} ogImageUrl={frontmatter.ogImageUrl} >
        {frontmatter.heroImage && <img src={frontmatter.heroImage} alt="" class="header-image">}
        <h1 class="title">{frontmatter.title}</h1>
        <h3 class="title">{frontmatter.subtitle}</h3>
        <h5 class="title">{frontmatter.subsubtitle}</h5>
        <p class="author">{frontmatter.author}</p>
            <slot />
        <p class="bottom-sign">Українською перекладено спеціяльно для TeaHut.com.ua</p>
        <div class="bottom-image" >
            <img src="/teakettle.gif" alt="Чайник і чашка" />
        </div>
</MainLayout>

<style>
	.container { padding: 3rem 1rem 1rem; }

    .header-image {
        width: 100%;
        max-height: 100%;
        margin: 0 auto 3rem;
        border-radius: 0.6rem;
    }

    .title { text-align: center;}

    .author { 
        font-style: italic;
        text-align: end;
        margin: 0.7rem clamp(2rem, 2cqw, 5rem) 3rem 0;
    }

    .bottom-sign {
        font-size: 0.9rem;
        font-style: italic;
        text-align: right;
        margin-top: 1rem;
    }

    .bottom-image {
        display: flex;
        justify-content: end;
        margin-bottom: 1.5rem;

        & > img {
            display: block;
            width: 70px;
        }
    }

	@media(min-width: 48rem) {
		// .container { padding: 3rem 4rem 2rem; }
	}
</style>