---
import InformationBlock from '../components/InformationBlock.astro';
import MainLayout from './MainLayout.astro';

const { frontmatter } = Astro.props;
---
<MainLayout pageTitle={frontmatter.title}>
        <InformationBlock
            image1={frontmatter.image1}
            image2={frontmatter.image2}
            image3={frontmatter.image3}
            image4={frontmatter.image4}
            image5={frontmatter.image5}
            image1alt={frontmatter.image1alt}
            image2alt={frontmatter.image2alt}
            image3alt={frontmatter.image3alt}
            image4alt={frontmatter.image4alt}
            image5alt={frontmatter.image5alt}
            title={frontmatter.title}
            subtitle={frontmatter.subtitle}
            region={frontmatter.region}
            yieldYear={frontmatter.yieldYear}
            variety={frontmatter.variety}
            item={frontmatter.item}
            price={frontmatter.price}
            tags={frontmatter.tags}
        />
    <div class="container">
        <slot />
    </div>
</MainLayout>

<style>
    .container { padding: 0 1rem; }

    @media screen  and (min-width: 48rem){
        .container { padding: 2rem 4rem; }
    }
</style>